.activeAnnouncement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 50px;
  width: 100%;
  height: auto;
  color: #fff;  
  h1 {  
    margin-left: 10px;
  }
  span {
    color: #fff; 
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }
  span:hover {
    background: rgb(8, 9, 63);
    border-radius: 50%;
  }
}
.container {
  width: 70%;
  height: auto;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
  padding: 20px;
}
.Wrapper:hover {
  box-shadow: 1px 1px 20px #6d6d6d 
}
.header {
  display: flex;
  justify-content: space-between;
}
.dell {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.name {
  color: white;
}
.link {
  text-decoration: none;
}
.name:hover {
  color: rgb(167, 167, 167);
}
.others {
  color: #000;
}
@media (max-width: 1250px){
  .container {
    width: 95%
  }
}