.panel {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  align-items: center;
  margin-top: 62px;
  height: 45px;
  cursor: pointer;
  span {
    padding: 0 10px 0;
  }
}
.container {
  display: flex;
  justify-content: flex-end;
  width: 68%
}
.pagination {
  background: linear-gradient(270deg, #ccff9d 0%, #43c4ff 100%);
  padding: 3px;
  border-radius: 5px;
  width: auto
}
.selectedPage {
  font-weight: bold;
  font-size: 20px;
  background: #2884f6;
  border-radius: 50%;  
}
@media (max-width: 1250px){
  .container {
    width: 98%
  }
}