.Creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  width: 100%;
  height: 100%;
  background:rgba(0, 74, 158, 0.2);
}
.form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px){
  .form {
    width: 90%;
  }
}
