.Comments {
  padding-top: 10px;
  color: rgb(0, 0, 0);
  width: 70%;
  
}
.item {
  display: flex;
  align-items: center;
  img {
    height: 40px;
  }
  span {
    display: none; 
    border-radius: 50%;
    transition: all 3.3s ease-in;
    margin-left: 10px;
  }
}
.item:hover span {
  display: block;
  background: rgb(158, 158, 158);
  cursor: pointer;
  
}
@media (max-width: 1250px){
  .Comments {
    width: 95%
  }
}