.Creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 40px;
    margin-right: 5px;
    border-radius: 50%;
  }
  p {
    margin: 0;
  }
  span {
    background: #b3b3b3;
    border-radius: 50%;
  }
  span:hover {
    background: #6b6b6b;
    cursor: pointer;
  }
}
.header {
  display: flex;
  align-items: center;
  width: auto;
}
.input {
  background: #f5f1f1;
  border-bottom: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  height: 40px;
  padding: 0 15px;
  flex-grow: 1;
  margin: 0 5px;
}