.panel {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  align-items: center;
  margin-top: 62px;
  height: 45px;
  cursor: pointer;
  z-index: 1;
  span {
    padding: 0 10px 0;
  }
}
.container {
  display: flex;
  justify-content: flex-end;
  width: 68%
}
.pagination {
  background: white;
  padding: 3px;
  border-radius: 5px;
  width: auto
}
.selectedPage {
  font-weight: bold;
  font-size: 20px;
  background: #ececec; 
}
@media (max-width: 1250px){
  .container {
    width: 98%
  }
}